<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>todoDemos</title>
        <link rel="stylesheet" href="/css/todo.css">
        <link rel="stylesheet" href="/css/alert.css">
    </head>
    <body>
        <div class="phone-bottom">
            <div class="phone-bottom-top">
                <div class="listdiv"><img class="listimg" src="/images/list.png" /></div>
                <div class="title">待办事项</div>
                <div class="plusdiv"><img class="plusimg" src="/images/plus.png" /></div>
            </div>
            <div class="todo-container">
                <!-- <div class="todocell">
                    <div class="todotime"><span class="timespan">2017/01/30</span></div>
                    <div class="todocontent">
                        <div class="minusdiv"><img class="minusimg" src="/images/minus.png" /></div>
                        <div class="spandiv"><span></span>11111</div>
                        <div class="checkdiv"><img class="checkimg" src="/images/check.png" /></div>
                    </div>
                </div> -->
            </div>
        </div>
        <script src="/js/jquery-1.10.2.js"></script>
        <script src="/js/todo_main.js"></script>
        <script src="/js/alert.js"></script>
        <script>

        </script>
    </body>
</html>
